/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #f7f7f7;
  font-family: "Open Sans";
}

.cloak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 5555;
  -webkit-animation: hide 1.2s 1 ease;
  -webkit-animation-delay: 2.9s;
  -webkit-animation-fill-mode: forwards;
  svg {
    width: 30vw;
    margin: 20vh 35vw;
    // -webkit-animation: hide 3.2s 1 ease;
    // -webkit-animation-delay: 1.8s;
    // -webkit-animation-fill-mode: forwards;
    .logo-path {
      fill-opacity: 0;
      stroke: #888;
      stroke-width: 1;
      stroke-dasharray: 135;
      stroke-dashoffset: 135;
      -webkit-animation: lines 1.4s 1 ease;
      -webkit-animation-fill-mode: forwards;
    }
    .logo-path2 {
      fill-opacity: 0;
      stroke: #888;
      stroke-width: 1;
      stroke-dasharray: 135;
      stroke-dashoffset: 135;
      -webkit-animation: lines 2.3s 1 ease;
      -webkit-animation-fill-mode: forwards;
    }
  }
}

/*  Cloak Animations   */

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes lines {
  0% {
    stroke-dashoffset: 435;
    fill-opacity: 0;
  }
  80% {
    fill-opacity: 0;
    stroke-width: 1;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0;
  }
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-top: 40px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-brand {
  padding: 7px 15px;
  transition: all 0.25s ease;
}

.navbar-brand img {
  width: 40px;
  float: left;
  display: inline-block;
  margin-right: 10px;
}

.navbar-brand p {
  float: left;
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, 
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #0bb0ff;
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #eee;
    border-right: 1px solid #ccc;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #f7f7f7;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.top-five {
  margin-bottom: 30px;
  margin-top: 65px;
  text-align: center;
}
.top-five h4 {
  margin-bottom: 25px;
  font-size: 18px;
}
.top-module {
  float: none;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 25px;
}
.top-module img {
  display: inline-block;
  border-radius: 50%;
}
.module-inner {
  width: 95%;
  border-bottom: 5px solid #0bb0ff;
  float: none;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 40px;
  padding-top: 35px;
  background-color: white;
}

.text-muted {
  font-size: 30px;
}

@media (min-width: 315px) and (max-width: 767px) {
  .text-muted {
    font-size: 16px;
  }
  .top-five h4 {
    font-size: 14px;
  }
  .module-inner {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 982px) {
  .text-muted {
    font-size: 20px;
  }
}
